@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Outfit:wght@100..900&family=Style+Script&display=swap');
@import "tailwindcss";
@import "./styles/custom-preflight.css";
@tailwind utilities;


@theme {
  --font-imperial: "Imperial Script", cursive;
  --font-style-script: "Style Script", cursive;
  --font-outfit: "Outfit", sans-serif;
}


@layer components {
  .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-violet-500);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-violet-700);
      }
    }
  }
}

:host {
  margin: initial;
  padding: initial;
}

